/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import '../../../template.scss';

.section {
	padding-top: size(80px);
	padding-bottom: size(80px);

	&__sub {
		display: flex;
		column-gap: size(15px);
		align-items: center;
		margin-bottom: 62px !important;
	}
}

.sub__content .section__line {
	background-color: #fff;
	height: 1px;
	@include width(55px);
}

.sub__content .section__text {
	color: #fff;
	opacity: 1;
	@include font-size(15px);
	@include line-height(16px);
}

.calculator {
	@include main-container();

	& {
		border-radius: 30px;
		margin: 0 !important;
	}

	&__container {
		background: rgba(7.60, 70.14, 151.94, 0.40);
		border-radius: 30px;
		backdrop-filter: blur(100px);
		padding: 19px 19px 19px 63px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		// gap: size(109px);
	}

	&-title {
		font-size: size(36px);
		font-weight: 400;
		color: #fff;
		line-height: 120%;
		max-width: size(354px);
		margin: 0;
		margin-bottom: size(53px);
	}

	&__results-box {
		display: flex;
		flex-direction: column;
		gap: size(13px);
		width: fit-content;
	}

	&__results-text {
		color: #ffffffb3;
		font-size: size(14px);
		font-weight: 400;
		width: fit-content;
		line-height: 100%;
	}

	&__results {
		color: #fff;
		font-size: size(96px);
		font-weight: 400;
		line-height: 110%;
	}

	&__wrapper {
		width: 50%;
	}

	&__card {
		padding: 43px 49px;
		border-radius: 25px;
		background: #fff;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: size(45px);
		width: 50%;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: size(20px);
		align-items: flex-start;
		width: 100%;
	}

	&__content-text {
		color: #1260F5;
		font-size: size(17px);
		font-weight: 400;
		line-height: 160%;

	}

	&__results-box-mobi {
		display: none;
		flex-direction: column;
		gap: 18px;
		width: fit-content;
	}
}

// Fleet Size and Gallons
.calculator__range {
	position: relative;
	width: 100%;
	margin-top: 15px;
}

.calculator__fleet-size[type=range] {
	-webkit-appearance: none;
	margin: 0;
	width: 100%;
}

.calculator__fleet-size[type=range]:focus {
	outline: none;
}

.calculator__fleet-size[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 6px;
	cursor: pointer;
	box-shadow: 0px 4px 200px rgba(18, 96, 245, 0.10);
	background: rgba(18, 96, 245, 0.09);
	border-radius: 15px;
	border: none;
}

.calculator__fleet-size[type=range]::-webkit-slider-thumb {
	box-shadow: 0px 4px 200px rgba(18, 96, 245, 0.10);
	border: none;
	height: 44px;
	width: 81px;
	border-radius: 15px;
	background: linear-gradient(270deg, #578CF2 0%, #1260F5 100%);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -18px;
}

.calculator__value {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 78px;
	transform: translate(0, 2px);
	z-index: 2;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	line-height: 100%;
	pointer-events: none;
}

.gallons__value {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 78px;
	transform: translate(0, 2px);
	z-index: 2;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	line-height: 100%;
	pointer-events: none;
}

.calculator__fleet-size[type=range]:focus::-webkit-slider-runnable-track {
	background: rgba(18, 96, 245, 0.09);
}

.calculator__fleet-size[type=range]::-moz-range-track {
	width: 100%;
	height: 6px;
	cursor: pointer;

	box-shadow: 0px 4px 200px rgba(18, 96, 245, 0.10);
	background: rgba(18, 96, 245, 0.09);
	border-radius: 15px;
	border: none;
}

.calculator__fleet-size[type=range]::-moz-range-thumb {
	box-shadow: 0px 4px 200px rgba(18, 96, 245, 0.10);
	border: none;
	height: 44px;
	width: 81px;
	border-radius: 15px;
	background: rgba(18, 96, 245, 0.09);
	cursor: pointer;
	margin-top: -18px;
}

.calculator__fleet-size[type=range]::-ms-track {
	width: 100%;
	height: 6px;
	cursor: pointer;

	background: transparent;
	border-color: transparent;
	border-width: 39px 0;
	color: transparent;
}

.calculator__fleet-size[type=range]::-ms-fill-lower {
	background: rgba(18, 96, 245, 0.09);
	border: none;
	border-radius: 50px;
	box-shadow: 0px 4px 200px rgba(18, 96, 245, 0.10);
}

.calculator__fleet-size[type=range]::-ms-fill-upper {
	background: rgba(18, 96, 245, 0.09);
	border: none;
	border-radius: 50px;
	box-shadow: 0px 4px 200px rgba(18, 96, 245, 0.10);
}

.calculator__fleet-size[type=range]::-ms-thumb {
	box-shadow: 0px 4px 200px rgba(18, 96, 245, 0.10);
	border: none;
	height: 44px;
	width: 81px;
	border-radius: 15px;
	background: rgba(18, 96, 245, 0.09);
	cursor: pointer;
	margin-top: -18px;
}

.calculator__fleet-size[type=range]:focus::-ms-fill-lower {
	background: rgba(18, 96, 245, 0.09);
}

.calculator__fleet-size[type=range]:focus::-ms-fill-upper {
	background: rgba(18, 96, 245, 0.09);
}

// Fill-ups

.fill-up-container {
	display: flex;
	gap: size(13px);
	width: 100%;
	justify-content: space-between;
}

.fill-up-btn {
	width: size(82px);
	height: size(44px);
	box-shadow: 0px 4px 200px rgba(18, 96, 245, 0.10);
	border-radius: 10px;
	border: 1px #E6E6E6 solid;
	justify-content: center;
	align-items: center;
	gap: 10px;
	display: flex;
	background: #fff;
	color: #313131;
	font-size: size(18px);
	font-weight: 500;
	padding: 0;
	line-height: 110%;
}

.fill-up-btn.active {
	background-color: #4a90e2;
	color: #fff;
}

@media (max-width: 992px) {
	.section {
		padding-top: size(80px);
		padding-bottom: size(80px);

		&__sub {
			gap: 15px !important;
			margin-bottom: 30px !important;
		}
	}

	.sub__content .section__line {
		background-color: #1260F5;
		height: 1px;
		width: 55px;
	}

	.sub__content .section__text {
		color: rgba(0, 0, 0, 0.30);
		font-size: 15px;
		line-height: 110%;
		opacity: 1;
	}

	.calculator {
		background: #fff;

		&__container {
			flex-direction: column;
			background: #fff;
			align-items: flex-start;
			padding: 0;
		}

		&-title {
			font-size: 28px;
			color: #313131 !important;
			max-width: 100%;
			margin-bottom: 58px;

			mark {
				color: #313131 !important;
			}
		}

		&__results-box {
			display: none;
		}

		&__results-box-mobi {
			display: flex;
		}

		&__results-text {
			color: #545454;
			font-size: 16px;
		}

		&__results {
			background: linear-gradient(to bottom, rgba(18, 96, 245, 1), rgba(18, 96, 245, 0.35));
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			color: transparent;
			font-size: 64px;
		}

		&__wrapper {
			width: 100%;
		}

		&__card {
			padding: 0;
			border-radius: 0;
			gap: 32px;
			width: 100%;
			margin-bottom: 50px;
		}

		&__content {
			display: flex;
			flex-direction: column;
			gap: 20px;
			align-items: flex-start;
			width: 100%;
		}

		&__content-text {
			font-size: 17px;

		}
	}

	.fill-up-container {
		gap: 13px;
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	.fill-up-btn {
		width: 82px;
		height: 44px;
		font-size: 18px;
	}
}

@media (max-width: 992px) {
	.calculator {
		padding-top: 60px !important;
	}
}