/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import '../../../template.scss';

.we_are_block {
  @include main-container();
	background: #fff;

}

.we_are_block_admin {
  background: #2ea2cc;
}
.we_are_block_admin .card-type-content-box{
  background: #c1c1c1;
}



.remove-content-bx-btn {
  display: block;
}

.who-sec-title{
  color: #313131;
  font-size: size(40px);
  margin-top: size(75px);
  margin-bottom: size(41px);
  font-weight: 400;
}



/* Общий контейнер */
.tab-container {

}

/* Табы */
.tabs {
  margin-bottom: size(37px);
  border-radius: size(18px);
  border: size(1px) solid #1260F5;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.tab {
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  transition: color 0.3s, border-bottom 0.3s;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1260F5;
  font-size: size(17px);
  padding: size(15px) 0;
}


.tab svg{
  margin-right: size(11px);
  width: size(27px);
  height: size(27px);
}

.tab svg path{
  fill: #1260F5;
}

.tab.active {
  color: #fff;
  background: linear-gradient(to left, #578CF2, #1260F5);
}


.tab.active svg path{
	fill: #fff;
}



/* Контент */
.content {
  border-radius: size(18px);
  background: #F5F5F5;
  position: relative;
  padding: size(68px) size(67px) size(76px) size(67px);
}

.content-box {
  display: none;
  align-items: end;
  animation: fadeIn 0.5s ease-in-out;
}

.content-box div{
  flex: 1;
}

.content-box.active {
  display: flex;
}

.who-content-box-name {
  color: #313131;
  font-size: size(31px);
  font-weight: 400;
  margin-bottom: size(63px);
}
.who-content-box-description {
  color: rgba(0,0,0, 0.4);
  font-size: size(15px);
  line-height: 160%;
}
.content-box .content-box-right {
  display: flex;
  justify-content: right;
  align-items: end;
}

.content-box .content-box-right .who-content-box-button{
  border-radius: size(18px);
  background: linear-gradient(to left, #578CF2, #1260F5);
  color: white;
  text-decoration: none;
  font-size: size(15px);
  padding: size(27px) size(51px);
}


/* Анимация */
@keyframes fadeIn {
  from {
	opacity: 0;
	transform: translateY(-10px);
  }
  to {
	opacity: 1;
	transform: translateY(0);
  }
}




@media (max-width: 600px) {
  .content-box.active {
	flex-direction: column;
  }

  .who-sec-title {
	font-size: 28px;
	margin-bottom: 42px;
	margin-top: 42px;
  }

  .tabs {
	margin-bottom: 17px;
	border-radius: 18px;
  }

  .tab {
	font-size: 15px;
	padding: 21px 0;
  }

  .tab svg{
	margin-right: 11px;
	width: 27px;
	height: 27px;
  }
  .who-section-content .content {
	padding:48px 30px;
  }

  .content-box {
  	align-items: start;
  }
  .content-box .content-box-right {
	justify-content: start;
	align-items: end;
  }

  .who-content-box-name {
	font-size: 23px;
	margin-bottom: 41px;
	line-height: 120%;
	font-weight: 400;
  }
  .who-content-box-description {
	font-size: 15px;
	margin-bottom: 119px;
  }

  .content-box .content-box-right .who-content-box-button{
	border-radius: 18px;
	font-size: 15px;
	padding: 27px 51px;
  }


}




