/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import '../../../template.scss';

.about-header{
  @include main-container();

  overflow: hidden;
  padding-bottom: 100px !important;
  padding-top: 265px !important;
}




.about-header-block-container {
  display: flex;
}


.about-header-section-content {
  width: 60%;
}

.about-header-section-img {
  width: 40%;
  position: relative;
}
.about-header-section-img img {
  position: absolute;
  top: -28px;
}
.about-header-uppertext {
  font-size: 17px;
  color: rgba(0,0,0,0.3);
}
.about-header-section-title {
  margin-top: 36px;
  font-size: 60px;
  font-weight: 500;
  color: #313131;
}


.about-header-section-under {
  display: flex;
  margin-top: 86px;
  align-items: center;
  border-left: solid 1px #1260F5;
}

.bread-crumbs {
  margin-bottom: 100px;
}

.bread-crumbs a{
  text-decoration: none;
  font-size: 15px;
}

.bread-crumbs a:first-child{
  color: rgba(0,0,0, 0.6);
}
.bread-crumbs a:last-child, .bread-crumbs span {
  color: rgba(0,0,0, 0.3);
  margin-left: 18px;
}

.about-header-section-description {
  font-size: 16px;
  color: rgba(0,0,0,0.4);
  margin-left: 29px;
  width: 70%;
  line-height: 25px;
}



//MOBILE
@media (max-width: 600px) {

  .about-header-section-content {
	display: flex;
	flex-direction: column;
  }

  .about-header-block-container {
	flex-direction: column;
  }
  .about-header-section-under {
	margin-top: 48px;
  }
  .about-header-section-title {
	font-size: 34px;
	width: 100%;
	margin-bottom: 0;
	margin-top: 24px;
  }
  .about-header-section-under svg {
	display: none;
  }
  .about-header-section-description {
	margin-left: 0;
  }

  .about-header-section-content {
	width: 100%;
  }
  .about-header-section-img {
	width: 100%;
	padding-bottom: size(400px);
	margin-top: 78px;
	overflow-y: clip; /* Включаем вертикальный скролл */
  }
  .about-header-section-img img{
	width: 822px;
	top: 0;
	left: 50%; /* Сдвигаем к центру родителя */
	transform: translateX(-50%); /* Выравниваем центр элемента */
	-o-object-fit: contain;
	object-fit: contain;
  }

}

