/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import '../../../template.scss';

.about-header{
  @include main-container();

  overflow: hidden;
  padding-bottom: size(173px) !important;
  padding-top: size(155px) !important;
}




.about-header-block-container {
  display: flex;
}


.about-header-section-content {
  width: 50%;
}

.about-header-section-img {
  width: 50%;
  position: relative;
}
.about-header-section-img img {
  position: absolute;
  width: size(803px);
  top: size(-28px);
  left: size(50px);
}
.about-header-uppertext {
  font-size: size(17px);
  color: rgba(0,0,0,0.3);
}
.about-header-section-title {
  margin-top: size(36px);
  font-size: size(60px);
  font-weight: 500;
  color: #313131;
}


.about-header-section-under {
  display: flex;
  margin-top: size(86px);
  align-items: center;
  border-left: solid size(1px) #1260F5;
}

.bread-crumbs {
  margin-bottom: size(100px);
}

.bread-crumbs a{
  text-decoration: none;
  font-size: size(15px);
}

.bread-crumbs a:first-child{
  color: rgba(0,0,0, 0.6);
}
.bread-crumbs a:last-child, .bread-crumbs span {
  color: rgba(0,0,0, 0.3);
  margin-left: size(18px);
}

.about-header-section-description {
  font-size: size(16px);
  color: rgba(0,0,0,0.4);
  margin-left: size(29px);
  width: 70%;
  line-height: size(25px);
}



//MOBILE
@media (max-width: 600px) {


  .about-header {
	padding-top: 27px !important;
	padding-bottom: 0 !important;
  }
  .bread-crumbs {
	margin-bottom: 72px;
  }

  .about-header-uppertext {
	font-size: 17px;
  }

  .bread-crumbs a{
	font-size: 15px;
  }
  .bread-crumbs a:last-child, .bread-crumbs span {
	margin-left: 18px;
  }

  .about-header-section-content {
	display: flex;
	flex-direction: column;
  }

  .about-header-block-container {
	flex-direction: column;
  }

  .about-header-section-title {
	font-size: 34px;
	width: 100%;
	margin-bottom: 0;
	margin-top: 27px;
	line-height: 110%;
  }
  .about-header-section-under svg {
	display: none;
  }
  .about-header-section-under {
	margin-top: 42px;
	border: none;
  }
  .about-header-section-description {
	margin-left: 0;
	line-height: 160%;
	width: 100%;
	font-size: 16px;
  }

  .about-header-section-content {
	width: 100%;
  }
  .about-header-section-img {
	width: 100%;
	padding-bottom: 57%;
	margin-top: 51px;
	overflow-y: clip; /* Включаем вертикальный скролл */
  }
  .about-header-section-img img{
	width: 110%;
	top: 0;
	left: 50%; /* Сдвигаем к центру родителя */
	transform: translateX(-50%); /* Выравниваем центр элемента */
	-o-object-fit: contain;
	object-fit: contain;
  }

}



//MOBILE
@media (max-width: 432px) {

  .about-header-section-img img{
	width: 110%;
  }

}

