/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 @import '../../../template.scss';

 .economy-stages__stage {
	position: relative;

	&:nth-child(odd) {
		& > .economy-stages__img > .updatebtn {
			left: 20%;
		}
	}
	&:nth-child(even) {
		& > .economy-stages__img > .updatebtn {
			right: 20%;
		}
	}
 }
 .updatebtn {
	position: absolute;
	top: 50%;
	width: 10%;
 }

 .economy-stages__content {
	width: 44%;
 }