/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import '../../../template.scss';

.form-block {
	@include main-container();


}




.form-block-container {
	//background: linear-gradient(to left, #5AD7FF, #1A64F6);
	border-radius: size(18px);
	padding: size(67px) size(88px) size(67px) size(88px);
	display: flex;
	overflow: hidden;
}

.form-block-container>div {
	flex: 1;
	/* Каждый элемент занимает равное количество пространства */
}

.form-section-title {
	font-size: size(40px);
	color: #fff;
	line-height: size(58px);
	font-weight: 300;
	width: 100%;
	margin-bottom: size(46px);
	margin-top: 0px;
}



.call-request {
	font-family: Arial, sans-serif;
	color: #ffffff;
	display: flex;
	flex-direction: column;
}

.call-request label {
	font-size: size(15px);
	color: rgba(255, 255, 255, 0.7);
	margin-bottom: size(16px);
}

.call-request-container {
	display: flex;
	align-items: center;
}

.call-request-container input {
	padding: size(26px) size(34px);
	font-size: size(18px);
	color: #ffffff;
	background: rgba(255, 255, 255, 0.3);
	border: none;
	border-radius: size(18px);
	outline: none;
	margin-right: size(12px);
	width: size(430px);
}

.call-request-container input::placeholder {
	color: rgba(255, 255, 255, 0.7);
}

.call-request-container button {
	width: size(232px);
	padding: size(26px) size(26px);
	font-size: size(18px);
	color: #1260f5;
	background-color: #ffffff;
	border: none;
	border-radius: size(18px);
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.call-request-container button:hover {
	background-color: #1260f5;
	color: #ffffff;
}

.form-section-img {
	position: relative;
}


.form-section-img img {
	position: absolute;
	top: size(-70px);
	right: size(-90px);
	z-index: 10;
	width: size(465px);
	height: -moz-max-content;
	height: max-content;
}



.agreement {
	margin-top: size(25px);
	display: flex;
	align-items: center;
}

.form-section-description {
	margin-left: size(12px);
	font-size: size(13px);
	color: rgba(255, 255, 255, 0.7);
}



.agreement .agreement-svg {
	width: size(23px);
}

//Mobile


@media (max-width: 600px) {
	.form-block-container {
		flex-direction: column;
		padding-right: 20px;
		padding-left: 20px;
	}

	.form-section-title {
		width: 100%;
		font-size: 28px;
		font-weight: 400;
		line-height: 120%;
	}

	.form-section-img {
		display: none;
	}

	.call-request-container {
		flex-direction: column;
		align-items: start;
	}

	.call-request-container input {
		padding: size(73px) size(73px);
		font-size: size(44px);
		border-radius: 18px;
	}

	.call-request-container button {
		margin-top: size(40px);
		font-size: size(44px);
		padding: size(73px) size(73px);
		width: size(800px);
		border-radius: size(40px);
	}

	.call-request-container input {
		width: 100%;
		box-sizing: border-box;
	}

	.form-section-title {
		margin-bottom: 48px;
	}

	.call-request label {
		font-size: 15px;
		margin-bottom: size(60px);
	}

	.form-block-container {
		background: none !important;
		padding: 0;
	}

	.form-block {
		background-size: 131% !important;
		padding-top: 73px !important;
		padding-bottom: 53px !important;
		margin-bottom: 65px;
	}

	.agreement {
		margin-top: size(148px);
	}

	.agreement .form-section-description {
		font-size: size(35px);
		margin-left: 13px;
	}

	.agreement .agreement-svg {
		flex-shrink: 0;
		width: 21px;
		height: auto;
	}
}

@media (max-width: 432px) {

	.call-request-container input {
		padding: 27px 25px;
		font-size: 18px;
		border-radius: 18px;
	}

	.call-request-container button {
		margin-top: 16px;
		font-size: 18px;
		padding: 27px 25px;
		width: 246px;
		border-radius: 18px;
	}

	.call-request label {
		margin-bottom: 21px;
	}

	.agreement {
		margin-top: 52px;
	}

	.agreement .form-section-description {
		font-size: 13px;
	}

	.agreement svg path {
		width: 100% !important;
	}



}
