@import url("https://use.typekit.net/psh5uyq.css");
.container {
  max-width: 100%;
}

.header {
  margin-bottom: calc(2.2916666667 * (1vw + 1vh));
}

.logout {
  color: rgb(239, 102, 48);
  font-size: calc(0.75 * (1vw + 1vh));
  line-height: calc(0.8333333333 * (1vw + 1vh));
  font-weight: 400;
  text-decoration: none;
}
@media (max-width: 600px) {
  .logout {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .logout {
    line-height: 20px;
  }
}
.logout svg {
  width: calc(0.5833333333 * (1vw + 1vh));
  height: calc(0.5833333333 * (1vw + 1vh));
  position: relative;
  top: 1px;
}
@media (max-width: 600px) {
  .logout svg {
    width: 14px;
    height: 14px;
  }
}

.title {
  margin-top: calc(2.2916666667 * (1vw + 1vh));
  margin-bottom: calc(2 * (1vw + 1vh));
}

.iframe {
  width: 100%;
  height: calc(24.5 * (1vw + 1vh));
  border-radius: calc(0.2083333333 * (1vw + 1vh));
  background-color: rgb(226, 226, 226);
}
@media (max-width: 600px) {
  .iframe {
    height: 588px;
  }
}

.news__content_single > h1,
.news__content_single > h2,
.news__content_single > h3,
.news__content_single > h4,
.news__content_single > h5,
.news__content_single > h6 {
  color: #1260F5;
  font-size: calc(0.8333333333 * (1vw + 1vh));
  line-height: calc(1.3333333333 * (1vw + 1vh));
  font-weight: 600;
  margin-top: calc(3.0833333333 * (1vw + 1vh));
  margin-bottom: calc(1.5416666667 * (1vw + 1vh));
}
@media (max-width: 600px) {
  .news__content_single > h1,
  .news__content_single > h2,
  .news__content_single > h3,
  .news__content_single > h4,
  .news__content_single > h5,
  .news__content_single > h6 {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .news__content_single > h1,
  .news__content_single > h2,
  .news__content_single > h3,
  .news__content_single > h4,
  .news__content_single > h5,
  .news__content_single > h6 {
    line-height: 32px;
  }
}

.news__content_single > p {
  color: #000000;
  opacity: 0.6;
  font-size: calc(0.7083333333 * (1vw + 1vh));
  line-height: calc(1.125 * (1vw + 1vh));
  font-weight: 400;
  margin-bottom: calc(1.5416666667 * (1vw + 1vh));
}
@media (max-width: 600px) {
  .news__content_single > p {
    font-size: 17px;
  }
}
@media (max-width: 600px) {
  .news__content_single > p {
    line-height: 27px;
  }
}
.news__content_single > p:last-child {
  margin-bottom: 0;
}

.news__content_single {
  padding-bottom: calc(3.3333333333 * (1vw + 1vh));
}
@media (max-width: 600px) {
  .news__content_single {
    padding-bottom: 0;
  }
}

.contacts {
  padding-bottom: calc(2.2916666667 * (1vw + 1vh));
}
@media (max-width: 600px) {
  .contacts {
    flex-direction: column-reverse;
    margin-top: 0;
    padding-bottom: 115px;
  }
}

@media (max-width: 600px) {
  .contacts__materials {
    margin-top: 101px;
    margin-bottom: 101px;
  }
}

.footer {
  margin-bottom: 0;
  width: 100%;
  padding-right: calc(5 * (1vw + 1vh));
  padding-left: calc(5 * (1vw + 1vh));
  box-sizing: border-box;
  background: linear-gradient(180deg, #1F1F1F 0%, #000000 100%);
  border-radius: calc(1.0416666667 * (1vw + 1vh)) calc(1.0416666667 * (1vw + 1vh)) 0 0;
  padding-top: calc(4.9583333333 * (1vw + 1vh));
  padding-bottom: calc(1.5833333333 * (1vw + 1vh));
  display: flex;
  color: white;
  justify-content: space-between;
}
@media screen and (max-width: 1050px) {
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 600px) {
  .footer {
    flex-direction: column;
  }
}
.footer a {
  color: inherit;
  text-decoration: none;
}
.footer__title {
  opacity: 0.5;
  font-size: calc(0.5416666667 * (1vw + 1vh));
  font-weight: 500;
  line-height: calc(1.25 * (1vw + 1vh));
}
@media (max-width: 600px) {
  .footer__title {
    font-size: 13px;
  }
}
@media (max-width: 600px) {
  .footer__title {
    line-height: 30px;
  }
}
.footer__column {
  font-weight: 500;
  font-size: calc(0.625 * (1vw + 1vh));
  max-width: calc(13.625 * (1vw + 1vh));
}
@media (max-width: 600px) {
  .footer__column {
    font-size: 15px;
  }
}
.footer__column > ul {
  row-gap: calc(0.5 * (1vw + 1vh));
}
@media (max-width: 600px) {
  .footer__column {
    max-width: 327px;
  }
  .footer__column:nth-child(2) {
    order: 1;
  }
  .footer__column:nth-child(3) {
    order: 2;
    margin-top: 20px;
  }
  .footer__column:nth-child(1) {
    order: 4;
    margin-top: 111px;
  }
  .footer__column:nth-child(4) {
    order: 3;
  }
}
.footer__subtitle {
  opacity: 0.5;
  font-size: calc(0.5416666667 * (1vw + 1vh));
  font-weight: 500;
  line-height: calc(0.9583333333 * (1vw + 1vh));
}
@media (max-width: 600px) {
  .footer__subtitle {
    font-size: 13px;
  }
}
@media (max-width: 600px) {
  .footer__subtitle {
    line-height: 23px;
  }
}
.footer__phone {
  font-weight: 500;
  font-size: calc(0.7083333333 * (1vw + 1vh));
  line-height: calc(1.25 * (1vw + 1vh));
  margin-top: calc(0.2083333333 * (1vw + 1vh));
  margin-bottom: calc(0.625 * (1vw + 1vh));
}
@media (max-width: 600px) {
  .footer__phone {
    font-size: 17px;
  }
}
@media (max-width: 600px) {
  .footer__phone {
    line-height: 30px;
  }
}
.footer__phone > a {
  text-decoration: none;
}
@media (max-width: 600px) {
  .footer__phone {
    margin: 0;
  }
}
.footer__address {
  font-weight: 500;
  font-size: calc(0.625 * (1vw + 1vh));
  line-height: calc(1.125 * (1vw + 1vh));
  margin-bottom: calc(0.8333333333 * (1vw + 1vh));
  margin-top: calc(0.2083333333 * (1vw + 1vh));
}
@media (max-width: 600px) {
  .footer__address {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  .footer__address {
    line-height: 27px;
  }
}
@media (max-width: 781px) {
  .footer__address {
    margin-bottom: 40px;
  }
}
.footer__email {
  opacity: 0.9;
  font-weight: 600;
  font-size: calc(0.625 * (1vw + 1vh));
  margin-bottom: calc(1.0416666667 * (1vw + 1vh));
  line-height: calc(0.75 * (1vw + 1vh));
}
@media (max-width: 600px) {
  .footer__email {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  .footer__email {
    line-height: 18px;
  }
}
.footer__email > a {
  text-decoration: none;
}
@media (max-width: 600px) {
  .footer__email {
    margin-bottom: 25px;
  }
}
.footer__socials {
  margin-top: calc(0.8333333333 * (1vw + 1vh));
  padding-left: 0;
}
@media (max-width: 781px) {
  .footer__socials {
    margin-top: 25px;
  }
}
.footer__logo > a > img {
  filter: brightness(0) invert(1);
}
.footer__logotext {
  opacity: 0.5;
  margin-top: calc(1.9583333333 * (1vw + 1vh));
  font-size: calc(0.5833333333 * (1vw + 1vh));
  line-height: calc(0.875 * (1vw + 1vh));
}
@media (max-width: 600px) {
  .footer__logotext {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .footer__logotext {
    line-height: 21px;
  }
}
@media (max-width: 781px) {
  .footer__column1 {
    width: 45%;
    order: 3;
  }
}
@media (max-width: 781px) {
  .footer__column2 {
    width: 45%;
    order: 1;
  }
}
@media (max-width: 781px) {
  .footer__column3 {
    width: 45%;
    order: 2;
  }
}
@media (max-width: 781px) {
  .footer__column4 {
    order: 4;
    width: 45%;
  }
}

@media (max-width: 781px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column.footer__column4,
  .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column.footer__column1,
  .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column.footer__column3,
  .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column.footer__column2 {
    flex-basis: auto !important;
  }
}

.wp-social-link.wp-block-social-link {
  color: #000;
  background-color: #fff;
}

.footer__bottom {
  width: 100%;
  padding-right: calc(5 * (1vw + 1vh));
  padding-left: calc(5 * (1vw + 1vh));
  box-sizing: border-box;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: calc(1.5833333333 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .footer__bottom {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.custom-logo {
  width: calc(4.0416666667 * (1vw + 1vh)) !important;
  height: calc(1.4166666667 * (1vw + 1vh)) !important;
}
@media (max-width: 781px) {
  .custom-logo {
    width: 97px !important;
    height: 34px !important;
  }
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}/*# sourceMappingURL=cabinet.css.map */