/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import '../../../template.scss';

.card-sec {
  @include main-container();
  @media (max-width: 600px) {
	padding: 0;
  }
}





.swiper {
  width: 606px !important;
  height: 435px !important;

}
.swiper-wrapper {
  width: 100%;
  height: auto;
}
.swiper-slide {
  width: 100% !important;
  margin: 0 !important;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}









.card-section-content {
  display: flex;
  justify-content: space-between;
}

/* Общий контейнер */
.tab-container {
  width: 100%;
  margin: 0 auto;
  background: rgba(36,36,36,0.6);
  border-radius: 18px;
}

/* Табы */
.tabs {
  display: flex;
  justify-content: center;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: 2px solid #DBDBDB;
  width: 50%;
  color: #DBDBDB;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab-span {
  display: inline-block;
  width: 36px !important;
  height: 36px !important;
  border-radius: 100%;
  background: #fff;
  color: transparent;
}
.tab.active {
  border-bottom: 2px solid #fff;
  color: #fff;
}


/* Контент */
.content {
  position: relative;
  padding: 28px 62px 44px 62px;
}

.content-box {
  display: none;
  padding: 20px;
  animation: fadeIn 0.5s ease-in-out;
}

.content-box.active {
  display: block;
}


.content-box-name {
  color: #fff;
  font-size: 24px;
  margin: 0;
  margin-bottom: 44px;
}
.content-box-description-title , .content-box-name-title {
  font-size: 14px;
  color: rgba(255,255,255, 0.4);
  margin-bottom: 21px;
}
.content-box-description {
  color: #fff;
  font-size: 16px;
  line-height: 35px;
}
/* Стили списка */
.points-group {
  margin-top: 57px;
}

.content-box-point {
  display: flex;
  align-items: center;
  margin-bottom: 19px;
  color: white;
  font-size: 16px;
}
.content-box-point svg {
  margin-right: 11px;
}

.content-box-point i {
  color: #007BFF;
  margin-right: 10px;
}

/* Кнопки */
.btn {
  padding: 10px 20px;
  background: #007BFF;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #0056b3;
}

/* Анимация */
@keyframes fadeIn {
  from {
	opacity: 0;
	transform: translateY(-10px);
  }
  to {
	opacity: 1;
	transform: translateY(0);
  }
}
