/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import '../../../template.scss';

.card-sec {
  @include main-container();

  border-radius: 25px;
  background: black;
  padding-top: 160px !important;
  padding-bottom: 160px !important;
}



.card-sec-text, .card-sec-text-mobile {
  color: rgba(255,255,255, 0.8);
  font-size: 14px;
}

.card-sec-text-mobile {
  display: none;
}
.card-sec-text p:first-child , .card-sec-text-mobile p:first-child{
  margin-bottom: 10px;
}


.card-sec .swiper__navigation {
  position: relative !important;
  display: flex;
}

.swiper__navigation svg {
  width: 44px;
  height: 44px;
}

.swiper__navigation .swiper-custom-right {
  margin-left: 20px;
}



.card-sec .swiper {
  width: 606px !important;
  height: 435px !important;
  margin-bottom: 110px;
}
.card-sec .swiper-wrapper {
  width: 100%;
  height: auto;

}
.card-sec .swiper-slide {
  width: 100% !important;
  margin: 0 !important;
}
.card-sec .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.card-sec .section__line {
  background-color: rgba(255, 255,255, 0.5);
}

.card-sec .section__text ,.card-sec .section__number{
 color: rgba(255, 255,255, 0.7);
}

.card-sec .section__text {

}



.left-card-sec , .right-card-sec {
	width: 50%;
}


.card-section-content {
  display: flex;
  justify-content: space-between;
}

/* Общий контейнер */
.tab-container {
  width: 100%;
  margin: 0 auto;
  background: rgba(36,36,36,0.6);
  border-radius: 18px;
}

/* Табы */
.tabs {
  display: flex;
  justify-content: center;
}

.tab {
  padding: 23px 20px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: 2px solid #DBDBDB;
  width: 50%;
  color: #DBDBDB;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab-span {
  display: flex;
  width: 36px !important;
  height: 36px !important;
  border-radius: 100%;
  background: #fff;
  color: black;
  margin-right: 15px;
  align-items: center;
  justify-content: center;
}
.tab.active {
  border-bottom: 2px solid #fff;
  color: #fff;
}


/* Контент */
.content {
  position: relative;
  padding: 28px 62px 44px 62px;
}

.content-box {
  display: none;
  padding: 20px;
  animation: fadeIn 0.5s ease-in-out;
}

.content-box.active {
  display: block;
}


.content-box-name {
  color: #fff;
  font-size: 24px;
  margin: 0;
  margin-bottom: 44px;
}
.content-box-description-title , .content-box-name-title {
  font-size: 14px;
  color: rgba(255,255,255, 0.4);
  margin-bottom: 21px;
}
.content-box-description {
  color: #fff;
  font-size: 16px;
  line-height: 35px;
}
/* Стили списка */
.points-group {
  margin-top: 57px;
}

.content-box-point {
  display: flex;
  align-items: center;
  margin-bottom: 19px;
  color: white;
  font-size: 16px;
}
.content-box-point svg {
  margin-right: 11px;
}

.content-box-point i {
  color: #007BFF;
  margin-right: 10px;
}

/* Кнопки */
.btn {
  padding: 10px 20px;
  background: #007BFF;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #0056b3;
}

/* Анимация */
@keyframes fadeIn {
  from {
	opacity: 0;
	transform: translateY(-10px);
  }
  to {
	opacity: 1;
	transform: translateY(0);
  }
}



.card-sec .buttons {
  margin-top: 67px;
}
.card-sec .buttons a {
  padding: 30px 50px;
  border-radius: 18px;
}
.card-sec .buttons a:first-child {
  background: #fff;
  color: #0F0F0F;
}

.card-sec .buttons a:last-child {
  background: none;
  color: rgba(255,255,255,0.6);
}



.card-sec-title {
  font-size: 40px;
  color: #fff;
}


//АДМИНКА

.ctb-admin-panel-control {
  display: flex;
}

.ctb-admin-panel-control .buttons{
  margin-top: 20px;
}
.ctb-admin-panel-control .card-type-content-box{
	width: 50%;
	background-color: rgba(255,255,255, 0.8);
	padding: 20px 30px;
	margin: 10px 20px;
  	color: rgba(255,255,255, 0.7);
}

.ctb-admin-panel-control .admin-panel-btn-link input, .ctb-admin-panel-control .admin-panel-btn-text input{
	width: 70%;
}

.ctb-admin-panel-control .admin-panel-btn-link div, .ctb-admin-panel-control .admin-panel-btn-text div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.ctb-admin-panel-control .buttons{
  display: flex;
  flex-direction: column;
}

.ctb-admin-panel-control .points-group{
  margin-bottom: 30px;
}






//MOBILE

@media (max-width: 600px) {
  .card-sec {
	padding-right: 0 !important;
	padding-left: 0 !important;
  }

  .left-card-sec, .card-sec-text-mobile, .section__sub {
	padding-right: 20px;
	padding-left: 20px;
  }

  .card-sec-text {
	display: none;
  }
  .card-sec-text-mobile {
	display: block;
	margin-top: 49px;
  }
  .card-sec {
	padding-top: 92px !important;
	padding-bottom: 67px !important;
  }
  .content {
	padding: 0 ;
  }

  .card-section-content {
	flex-direction: column;
  }
  .card-sec .swiper {
	width: 100% !important;
  }
  .card-sec .buttons {
	display: flex;
	flex-direction: column;
  }


  .card-sec .buttons  .btn:first-child{
	width: fit-content;
  }
  .card-sec .buttons  .btn:last-child{
	  padding-left: 0px;
	}

  .left-card-sec, .right-card-sec {
	width: 100%;
  }
  .card-sec-title {
	font-size: 28px;
	font-weight: 300;
	line-height: 36px;
	margin-top: 33px;
	margin-bottom: 42px;
  }
  .card-sec .swiper {
	margin-top: 32px;
	height: auto !important;
  }
  .card-sec-text-mobile p:last-child {
	margin-top: 33px;
  }
  .content-box {
	padding-top: 38px;
  }
}
