/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */


@import '../../../template.scss';

.economy {
  @include main-container();
}



.economy-card-preview {
  margin-top: size(70px);
  display: flex;
  justify-content: space-between;
	align-items: center;
}

.economy-section-title {
  width: 50%;
  font-size: size(40px);
  font-weight: 500;
  margin: 0;
  color: #313131;
}
.economy-section-description-container {
  display: flex;
  align-items: center;
  justify-content: end;

}

.economy-section-description {
  color: rgba(0,0,0, 0.4);
  font-size: size(16px);
  margin-right: size(31px);
  width: 50%;
}

.economy-block-items {
  display: flex;
  margin-top: size(75px);
  gap: size(20px);
}

.economy-single-item {
  width: 50%;
  overflow: hidden;
}
.economy-double-items {
  width: 50%;
  display: flex;
	gap: size(20px);
}

.economy-double-items .economy-block-item-box {
  overflow: hidden;
  width: 50%;
  border-radius: size(18px);
  border: solid 1px #548AF3;
  padding: size(41px) size(33px) ;
}
.economy-double-items-title {
  font-size: size(15px);
  color: rgba(0,0,0, 0.3);
  margin-bottom: size(33px);
}

.economy-double-items-name{
  background: linear-gradient(to top, #ADC9FF, #1360F5); /* Градиент снизу вверх */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: size(75px);
}

.economy-double-items-desc {
  margin-top: size(17px);
  color: #1360F5;
  font-size: size(16px);
}


.economy-double-items-title-container {
  display: flex;
  justify-content: space-between;
}
.economy-double-items-img {
  position: relative;
}
.economy-double-items-img img {
  position: absolute;
  width: size(304px);
  top: size(61px);
  right: size(-39px);
}


.economy-single-item {
  border-radius: size(18px);
  padding: size(77px) size(52px);
}





.single-item-num {
  color: #fff;
  font-size: size(128px);
  margin: 0;
  margin-bottom: size(28px);
  font-weight: 500;
}

.single-item-under {
  padding: size(18px) size(38px);
  background: #fff;
  color: #266CF6;
  border-radius: size(18px);
  width: fit-content;
  font-size: size(18px);
  margin-bottom: size(56px);
}

.single-item-name {
  color: #fff;
  font-size: size(18px);
  margin-bottom: size(28px);
}

.single-item-desc {
  color: rgba(255,255,255, 0.8);
	font-size: size(16px);
}


.single-item-img {
  position: relative;
}

.single-item-img img {
  position: absolute;
  width: size(300px);
  right: size(-55px);
  top: size(-78px);

}

.economy-preview-btns {
  margin-top: size(58px);
}

.economy-section-btn  {
  text-decoration: none;
  color: #1360F5;
  font-size: size(16px);
}


.boxes-container, .boxes-container-mobile {
  display: flex;
  gap:size(5px);
}

.boxes-container-mobile {
  display: none;
}
.white-box , .blue-box {
  width: size(18px);
  height: size(18px);
}
.white-box {
  background-color: #EDEDED;
}
.blue-box {
  background-color: #1360F5;
}


//MOBILE

@media (max-width: 600px) {


  .economy{
	padding-top: size(220px) !important;
	padding-bottom: size(160px) !important;
  }

  .economy-block-items, .economy-card-preview {
	flex-direction: column;
	margin-top: 31px;
  }
  .economy-block-items {
	margin-top: 60px;
  }
  .economy-block-items, .economy-double-items {
	gap: size(40px);
  }

  .economy-section-description-container {
	margin-top: 50px;
	flex-direction: column-reverse;
	align-items: start;
  }
  .economy-section-description-container p{
	margin-top: size(57px);
	line-height: size(62px);
	font-size: size(43px);
	width: 100%;
	text-align: start;
  }
  .economy-section-title {
	width: 100%;
	font-size: 28px;
  }

  .single-item-img img{
	top: size(-180px);
	width: size(650px);
	z-index: 99;
  }
  .single-item-under {
	position: relative;
	z-index: 100;
	font-size: 18px;
	padding: size(50px) size(102px);
  }
  .economy-single-item {
	border-radius: 18px;
	width: 100%;
	padding-top: size(180px);
	padding-bottom: size(138px);
  }

  .single-item-name {
	font-size: 18px;
	margin-top: size(140px);
	margin-bottom: size(60px);
  }
  .economy-double-items {
	flex-direction: column;
	width: 100%;
  }
  .economy-double-items .economy-block-item-box {
	padding: size(110px) size(94px);
	width: 100%;
	border-radius: 18px;
  }

  .single-item-num {
	font-size: 80px;
	margin-bottom: 36px;
  }
  .boxes-container-mobile {
	display: flex;
	margin-top: 23px;
  }

  .economy-double-items-title {
	font-size: size(37px);
	margin-bottom: size(87px);
  }
  .economy-double-items-name {
	font-size: 48px;
  }
  .economy-double-items-desc {
	font-size: 15px;
	margin-top: size(64px);
  }
  .boxes-container-mobile div{
	width: 18px;
	height: 18px;
	margin-right: 5px;
  }
  .economy-double-items-img img {
	width: size(1764px);
	left: size(340px);
	top: size(-440px);
  }

  .single-item-desc {
	font-size: size(41px);
	//font-size: 15px;
	line-height: 20px;
  }
  .boxes-container {
	display: none;
  }

  .economy-preview-btns {
	margin-top: size(160px);
  }
  .economy-preview-btns a{
	font-size: size(43px);
  }
}




