/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import '../../../../template.scss';


.section {
	padding-top: size(80px);
	padding-bottom: size(80px);
}

.referal-program {
	@include main-container();
	background-repeat: no-repeat;
	margin-top: size(60px);

	&__sub {
		display: flex;
		column-gap: size(15px);
		align-items: center;
		margin-bottom: 32px;
	}

	&__text {
		color: rgba(0, 0, 0, 0.30);
		@include font-size(15px);
		@include line-height(16px);
	}

	&__line {
		background-color: $primaryColor;
		height: 1px;
		@include width(55px);
	}

	&__title {
		font-size: size(48px);
		margin: 0;
		margin-bottom: 72px;
		font-weight: 400;
		color: #313131;
	}

	&__list {
		display: grid;
		gap: 20px;
		grid-template-columns: repeat(2, 1fr);
		list-style: none;
	}

	&__item {
		padding: 40px;
		background: #fff;
		box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.05);
		border-radius: 30px;
		display: flex;
		flex-direction: column;
		gap: 44px;
		align-items: flex-start;
	}

	&__number {
		width: size(57px);
		height: size(57px);
		background: $primaryColor;
		border-radius: 50%;
		justify-content: center;
		align-items: center;
		display: flex;
		color: #fff;
		font-size: size(20px);
		font-weight: 600;
		line-height: 160%;

		span {
			position: relative;
			top: 2px;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&-content__title {
		color: #000;
		font-size: size(20px);
		font-weight: 400;
		line-height: 120%;
		margin: 0;
	}

	&-content__text {
		color: rgba(0, 0, 0, 0.40);
		font-size: size(14px);
		font-weight: 400;
		line-height: 160%;
	}
}

@media (max-width: 992px) {
	.referal-program {
		&__text {
			font-size: 15px;
			line-height: 110%;
		}
	
		&__line {
			background-color: $primaryColor;
			height: 1px;
			 width: 55px;
		}

		&__title {
			font-size: 28px;
			line-height: 120%;
			margin-bottom: 43px;
		}

		&__list {
			grid-template-columns: repeat(1, 1fr);
		}

		&__number {
			font-size: 20px;
			width: 57px;
			height: 57px;
		}


		&-content__title {
			font-size: 20px;
		}

		&-content__text {
			font-size: 14px;
		}
	}
}
