/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import '../../../template.scss';

.header-block{
  @include main-container();

  overflow: hidden;
  padding-bottom: size(100px) !important;
  padding-top: size(265px) !important;
}




.header-block-container {
  display: flex;
}


.header-section-content {
  width: 60%;
}

.header-section-img {
  width: 40%;
  position: relative;
}
.header-section-img img {
  position: absolute;
  top: size(-28px);
  left: size(18px);
  width: size(822px);

}
.header-uppertext {
  font-size: size(17px);
  color: rgba(0,0,0,0.3);
}
.header-section-title {
  margin-top: size(36px);
  font-size: size(60px);
  font-weight: 500;
  color: #313131;
}

.header-section-btn {
  display: flex;
  align-items: center;
  width: fit-content;
  border-radius: size(18px);
  background: linear-gradient(to left, #578CF2, #1260F5);
  padding-right: size(20px);
  font-size: size(16px);
}

.header-section-btn a {
  text-decoration: none;
  color: #1260F5;
  border-radius: size(18px);
  border: 1px solid #1260F5;
  background: white;
  padding: size(22px) size(45px);
  margin-right: size(20px);
}

.header-section-under {
  display: flex;
  margin-top: size(86px);
  align-items: center;
}

.header-section-under svg {
  width: size(51px) ;
  height: size(52px);
}

.header-section-description {
  font-size: size(16px);
  color: rgba(0,0,0,0.4);
  margin-left: size(29px);
  width: 70%;
  line-height: size(25px);
}



//MOBILE
@media (max-width: 600px) {
  .header-uppertext {
	font-size: 15px;
  }

  .header-section-content {
	display: flex;
	flex-direction: column;
  }
  .header-section-content .header-section-btn {
	order: 4;
	margin-top: 57px;
	font-size: 16px;
	border-radius: 18px;
  }
  .header-section-btn a {
	padding: size(50px) size(115px);
	border-radius: 18px;
  }
  .header-section-btn svg {
	margin: 0 size(35px);
  }
  .header-block-container {
	flex-direction: column;
  }
  .header-section-under {
	margin-top: 48px;
  }
  .header-section-title {
	font-size: 34px;
	width: 100%;
	margin-bottom: 0;
	margin-top: 24px;
	line-height: 34px;
  }
  .header-section-under svg {
	display: none;
  }
  .header-section-description {
	font-size: 16px;
	line-height: size(60px);
	margin-left: 0;
	width: 100%;
  }

  .header-section-content {
	width: 100%;
  }
  .header-section-img {
	width: 100%;
	padding-bottom: size(1100px);
	margin-top: size(198px);
	overflow-y: clip; /* Включаем вертикальный скролл */
  }
  .header-section-img img{
	width: size(2022px);
	top: 0;
	left: 50%; /* Сдвигаем к центру родителя */
	transform: translateX(-50%); /* Выравниваем центр элемента */
	-o-object-fit: contain;
	object-fit: contain;
  }

}

