<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"className":"blog"} -->
<div class="wp-block-group blog">
    <!-- wp:shortcode -->
    [breadcrumbs-blog]
    <!-- /wp:shortcode -->

    <!-- wp:shortcode -->
    [section-line]
    <!-- /wp:shortcode -->

    <!-- wp:post-title {"level":1, "className":"blog__title"} /-->
     
    <!-- wp:shortcode -->
    [blog]
    <!-- /wp:shortcode -->
 </div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->