<!-- wp:template-part {"slug":"header","theme":"staff","tagName":"header","area":"header"} /-->

<!-- wp:group {"className":"contacts__container"} -->
<div class="wp-block-group contacts__container"><!-- wp:shortcode -->
    [breadcrumbs-contacts]
    <!-- /wp:shortcode -->
    
    <!-- wp:columns {"verticalAlignment":"top","className":"contacts__columns"} -->
    <div class="wp-block-columns are-vertically-aligned-top contacts__columns"><!-- wp:column {"verticalAlignment":"top","className":"contacts__column"} -->
    <div class="wp-block-column is-vertically-aligned-top contacts__column"><!-- wp:heading {"className":"contacts__title"} -->
    <h2 class="wp-block-heading contacts__title">Контакты</h2>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"className":"contacts__description"} -->
    <p class="contacts__description">Если у вас возникли какие-либо вопросы или вам нужна дополнительная информация, мы всегда на связи. Оставьте заявку и наши специалисты свяжутся с вами в кратчайшие сроки.</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:heading {"level":4,"className":"contacts__heading"} -->
    <h4 class="wp-block-heading contacts__heading">Номер телефона</h4>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"className":"contacts__phone"} -->
    <p class="contacts__phone"><a href="tel:+998 99 999-99-99" data-type="page" data-id="186">+998 99 999-99-99</a></p>
    <!-- /wp:paragraph -->
    
    <!-- wp:heading {"level":4,"className":"contacts__heading"} -->
    <h4 class="wp-block-heading contacts__heading">Email</h4>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"className":"contacts__email"} -->
    <p class="contacts__email"><a href="mailto:info@tss.com" data-type="page" data-id="186">info@tss.com</a></p>
    <!-- /wp:paragraph -->
    
    <!-- wp:heading {"level":4,"className":"contacts__heading"} -->
    <h4 class="wp-block-heading contacts__heading">Адрес</h4>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"className":"contacts__address"} -->
    <p class="contacts__address">Тестовое поле адреса</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:social-links {"className":"footer__socials contact__socials"} -->
    <ul class="wp-block-social-links footer__socials contact__socials"><!-- wp:social-link {"url":"https://google.com","service":"telegram"} /-->
    
    <!-- wp:social-link {"url":"https://google.com","service":"instagram"} /-->
    
    <!-- wp:social-link {"url":"https://google.com","service":"facebook"} /--></ul>
    <!-- /wp:social-links --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"verticalAlignment":"top"} -->
    <div class="wp-block-column is-vertically-aligned-top"><!-- wp:columns {"verticalAlignment":"center","className":"contacts__form-container"} -->
    <div class="wp-block-columns are-vertically-aligned-center contacts__form-container"><!-- wp:column {"verticalAlignment":"center"} -->
    <div class="wp-block-column is-vertically-aligned-center"><!-- wp:heading {"level":3,"className":"contacts__subtitle"} -->
    <h3 class="wp-block-heading contacts__subtitle">Форма обратной связи</h3>
    <!-- /wp:heading --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"verticalAlignment":"center"} -->
    <div class="wp-block-column is-vertically-aligned-center"><!-- wp:paragraph {"align":"right","className":"contacts__partnerlink"} -->
    <p class="has-text-align-right contacts__partnerlink"><a href="https://google.com" data-type="page" data-id="186">Стать партнером →</a></p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:html -->
    <iframe></iframe>
    <!-- /wp:html --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"staff","tagName":"footer","area":"footer"} /-->