<!-- wp:template-part {"slug":"header","theme":"staff","tagName":"header","area":"header"} /-->

<!-- wp:create-block/form-card-page {"subSectionText":"ВЫПУСТИТЬ КАРТУ","title":"Не хотите говорить с менеджером?","underFromText":"Заполните форму и мы вышлем вам карту","btnText":"Перейти на wexinc","subSuccessText":"БЛАГОДАРИМ ЗА ОБРАЩЕНИЕ","successTitle":"Спасибо! Ваша заявка уже обрабатывается","successText":"Мы помогаем бизнесам всех масштабов снизить затраты на топливо благодаря нашим инновационным топливным картам. Мы помогаем бизнесам всех масштабов снизить затраты на топливо благодаря нашим инновационным топливным картам.","successBtnText":"Инструкция по оформлению карты"} /-->

<!-- wp:template-part {"slug":"footer","theme":"staff","tagName":"footer","area":"footer"} /-->