/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import '../../../template.scss';

.registration-header-block {
	@include main-container();

	& {
		padding-top: size(155px) !important;
	}
}


.bread-crumbs {
	margin-bottom: size(100px);
}

.bread-crumbs a {
	text-decoration: none;
	font-size: size(15px);
}

.bread-crumbs a:first-child {
	color: rgba(0, 0, 0, 0.6);
}

.bread-crumbs a:last-child,
.bread-crumbs span {
	color: rgba(0, 0, 0, 0.3);
	margin-left: size(18px);
}

.registration-header-section-content,
.registration-header-section-form {
	// flex: 1;
	width: 50%;
}

.registration-header-section-form {
	//padding-left: size(81px);
	background: #fff;
	padding: size(43px) size(31px) size(36px) size(31px);
	border-radius: size(18px);

}

.registration-header-block-container {
	display: flex;
}

.registration-header-uppertext {
	font-size: size(15px);
	margin-bottom: size(39px);
	color: rgba(0, 0, 0, 0.3);
}

.registration-header-section-title {
	color: #313131;
	font-size: size(60px);
	line-height: 110%;
	font-weight: 400;
	margin-bottom: size(83px);
}

.registration-header-section-under {
	padding-left: size(32px);
	border-left: size(2px) #1260F5 solid;
	padding-top: size(9px);
	padding-bottom: size(9px);
	width: 53%;
}

.registration-header-section-description {
	font-size: size(16px);
	color: rgba(0, 0, 0, 0.4);
}


.registration__form_heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	margin-bottom: size(52px);
	//padding-top: size(43px);
	//padding-left: size(31px);
	//padding-right: size(31px);
}

.registration__form_heading_header {
	margin: 0;
	color: rgba(0, 0, 0, 0.8);
	font-size: size(16px);
	font-weight: 400;
}

.registration__form_heading_steps {
	list-style: none;
	display: flex;
	align-items: center;
}

.registration__form_heading_steps span {
	color: #1260F5;
	border: size(0.5px) solid #1260F5;
	height: 0;
	width: size(33px);
}

.registration__form_heading_steps .step__item {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	border: solid #1260F5 size(1px);
	width: size(29px);
	height: size(29px);
	font-size: size(14px);
	line-height: 0;
	vertical-align: middle;
	padding-top: size(3px);
	box-sizing: border-box;
	color: #1260F5;
	background: #fff;
}

.bg-black {
	background: #1260F5 !important;
	color: white !important;
}

//FORM

.registration-header-section-form form {
	background: #fff;
}

.form-step {
	display: none;
	flex-direction: column;
	gap: size(35px);
}

.form-step.active {
	display: flex;
}

.form-step__wrapper p {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: size(20px);
}

.form-step__wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: size(20px);
}

.registration__form_label span {
	font-size: size(14px);
	font-weight: 300 !important;
	color: #0E4BC1;
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: fit-content;
	margin-bottom: 8px;
}

.registration__form_label span .wpcf7-not-valid-tip {
	color: red;
}

.registration__form_input {
	background-color: #F8F8F8;
	border: none !important;
	border-radius: size(10px) !important;
	padding: size(17px) size(19px) !important;
	box-sizing: border-box;
	width: size(300px);
}

.registration__form_input:focus-visible {
	outline: none;
}

.registration__form_input::placeholder {
	color: rgba(0, 0, 0, 0.4);
	font-size: size(14px);
	font-weight: 300 !important;
	line-height: 300px;
}

.next-step {
	border: size(1px) solid #1260F5;
	color: #1260F5;
	background: #fff;
	border-radius: size(10px);
	padding: size(19px) size(88px);
	font-size: size(14px);
	float: right;
	width: 47%;
	cursor: pointer;
}

.steps_btns p {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: size(20px);
}

.steps_btns p span {
	display: none;
}

.prev-step {
	border: size(1px) solid #1260F5;
	color: #1260F5;
	background: #fff;
	border-radius: size(10px);
	padding: size(19px) size(88px);
	font-size: size(14px);
	cursor: pointer;
}

#submit-form-btn {
	border: none;
	color: #fff;
	background: #1260F5;
	border-radius: size(10px);
	padding: size(19px) size(88px);
	font-size: size(14px);
	cursor: pointer;
}


@media (max-width: 992px) {
	.registration-header-block-container {
		flex-direction: column;
		gap: 53px;
	}

	.registration-header-section-content,
	.registration-header-section-form {
		width: 100%;
	}

  .registration__form_heading_header {
		font-size: 16px;
		margin-bottom: 30px;
	}

  .registration__form_heading_steps .step__item {
    border: solid #1260F5 1px;
    width: 29px;
    height: 29px;
    font-size: 14px;
    padding-top: 3px;
  }

  .registration__form_heading_steps span {
    width: 33px;
  }
	.form-step {
		gap: 25px;
	}

	.form-step__wrapper p,
	.form-step__wrapper,
	.steps_btns p {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 20px;
	}

	.registration__form_label span {
		font-size: 14px;
    width: 100%;
		margin-bottom: 8px;
	}

	.registration__form_label span .wpcf7-not-valid-tip {
		color: red;
	}

	.registration__form_input {
		border-radius: 10px !important;
		padding: 15px 18px !important;
		width: 100%;
	}

	.registration__form_input::placeholder {
		font-size: 14px;
	}

	.next-step {
		border: 1px solid #1260F5;
		border-radius: 10px;
		padding: 0;
		font-size: 14px;
		float: left;
		width: 100%;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.prev-step {
		border: 1px solid #1260F5;
		border-radius: 10px;
		padding: 0;
		font-size: 14px;
		float: left;
		width: 100%;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#submit-form-btn {
		border-radius: 10px;
		padding: 0;
		font-size: 14px;
		float: left;
		width: 100%;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

}

@media (max-width: 600px) {
	.bread-crumbs {
		margin-bottom: 72px;
	}

	.bread-crumbs a {
		font-size: 15px;
	}

	.bread-crumbs a:last-child,
	.bread-crumbs span {
		margin-left: 18px;
	}

	.registration-header-block {
		padding-top: 17px !important;
		padding-bottom: 72px !important;
	}

	.registration-header-block-container {
		margin-top: 72px !important;
		flex-direction: column;
	}

	.registration-header-uppertext {
		font-size: 15px;
		margin-bottom: 28px;
	}

	.registration-header-section-title {
		margin-top: 0px;
		margin-bottom: 42px;
		font-size: 34px;
		line-height: 110%;
	}

	.registration-header-section-under {
		padding-left: 0;
		border-left: none;
		width: 100%;
	}

	.registration-header-section-under p {
		font-size: 16px !important;
		line-height: 160%;
	}

	.registration-header-section-form {
		padding: 43px 24px;
	}

	.registration__form_heading {
		flex-direction: column;
		align-items: start;
		margin-bottom: 34px;
	}
}
